html {
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

body {
    margin: 0;
    /* background-color: #e6c8b6; */
    background-color: #e7ded6;
    /* background-color: #272727; */
    font-family: "Roboto Flex", sans-serif;
    word-wrap: break-word;
    height: 100vh;
    min-height: 650px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::-moz-selection {
    background-color: orange;
}

*::selection {
    background-color: orange;
}

.container {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#search {
    height: 40px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #ffffff;
}

#input {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 16px;
    font-family: "Roboto Flex", sans-serif;
    border-radius: 0;
    border: none;
    outline: none;
}

#input::-webkit-input-placeholder {
    font-family: "Roboto Flex", sans-serif;
}

#input::-moz-placeholder {
    font-family: "Roboto Flex", sans-serif;
}

#input::-ms-input-placeholder {
    font-family: "Roboto Flex", sans-serif;
}

#input:-ms-input-placeholder {
    font-family: "Roboto Flex", sans-serif;
}

#input::placeholder {
    font-family: "Roboto Flex", sans-serif;
}

#btn {
    padding: 5px 8px;
    border: none;
    background-color: transparent;
    height: 100%;
    cursor: pointer;
}

#btn img {
    height: 100%;
}

.notFound {
    margin: 5px 0;
    font-size: 12px;
    visibility: hidden;
}

#main {
    margin: 30px 0 70px;
    padding: 30px;
    width: 100%;
    min-width: 290px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.1);
    -webkit-box-shadow: inset -8px 5px 15px rgb(255, 255, 255, 0.4);
    box-shadow: inset -8px 5px 15px rgb(255, 255, 255, 0.4);
}

#weatherNow {
    width: 70px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#city {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#temp {
    margin: 30px 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#weekDay,
#date {
    margin: 3px 0;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#coming {
    margin: 50px -20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.oneDay {
    padding: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.oneDay:first-child {
    padding-left: 0;
}

.oneDay:last-child {
    padding-right: 0;
}

.DayData {
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.2);
    text-align: center;
}

.OneDayHeader {
    margin: 0;
    font-size: 16px;
}

.soonPic {
    width: 50px;
}

.soonTemp {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

#details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

hr {
    width: 100%;
    background-color: transparent;
    border-color: #ffffff;
}

.detailsHeader {
    text-align: center;
}

#details p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

span {
    margin-left: auto;
}

@media all and (max-width: 330px) {
    .searchInner {
        width: 100%;
    }

    #search {
        height: 40px;
        width: 100%;
    }

    #main {
        margin: 30px 0;
        padding: 20px;
        min-width: unset;
    }

    #temp {
        margin: 20px 0;
    }

    #coming {
        margin: 30px -20px 50px;
    }

    .oneDay {
        padding: 10px;
    }

    .DayData {
        padding: 10px;
    }

    .OneDayHeader {
        font-size: 12px;
    }

    .soonPic {
        width: 40px;
    }

    .soonTemp {
        font-size: 16px;
    }

    #details p {
        font-size: 14px;
    }
}
